.button {
  padding: 17px;
  font-size: 14px;
  background-color: #027570;
  width: 10%;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
