body {
  padding: 30px 0;
}

.App {
  height: 100%;
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: #0ccac4;
}

.profile-user {
  padding: 16px 20px;
  background-color: #0ccac4;
  height: 250px;
  width: 200px;
  border-radius: 8px;
  margin: auto;

  .avatar {
    height: 100px;
    width: 100px;
    border-radius: 100px;
  }

  .detail-repos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .repos {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    & :hover {
      color: mediumorchid;
      text-decoration: underline;
    }
  }
}
